WORDPRESS_PORT=8080
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
MARIADB_ROOT_PASSWORD=local-root-password
WORDPRESS_DEBUG=1
WORDPRESS_TABLE_PREFIX=wp_
DOCKER_REGISTRY=registry.docker.ir
MARIADB_IMAGE=mariadb:11
NGINX_IMAGE=nginx:1.26-alpine
